[Unit]
Description=Bot Privé Discord premium
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pro/bot/discord/private-bot/index.js
Restart=always
User=pro
Group=pro

[Install]
WantedBy=multi-user.target
